<h2>Random beer</h2>
{{#each randomBeer}}
    <div>
        <h3>{{name}}</h3>    
        <img class="card-img-top" src={{image_url}}/>  
        <p>{{description}}</p> 
        <h4>Food Pairing</h4>
        <ul>{{food_pairing}}</ul>
        <sub>{{tagline}}</sub>
        <h5>{{brewers_tips}}</h5>
    </div>
{{/each}}